---
import cat from './asset/cat.jpg' assert { type: 'image-component', sizes: '320,480,640' }
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Image Assertion Demo</title>
	</head>
	<body>
		<h1>Image Assertion Demo</h1>
		<img src={cat} />
	</body>
</html>
