---
import Accordion from '../components/Accordion.jsx' assert { client: 'idle' };
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>React Client Assertion Demo</title>
	</head>
	<body>
		<h1>React Client Assertion Demo</h1>
		<Accordion />
	</body>
</html>